[include mainsail.cfg]
[include macros/klipper_backup.cfg]
#[include shell_command.cfg]
[include btc/btc.cfg]
[include secondary_cfgs/printer.cfg]
[include secondary_cfgs/cartographer.cfg]
[include secondary_cfgs/pico_adxl.cfg]
#[include secondary_cfgs/autotune_tmc.cfg]


[exclude_object]

[mcu rpi]
serial: /tmp/klipper_host_mcu

# [mcu MMB]
# canbus_uuid: 0270595f5184

[temperature_sensor pi_w2]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

